<!doctype html>
<html
  dir="ltr"
  lang="en"
  data-theme="light"
  
    class="html theme--light"
  
><head>
  <meta charset="utf-8" />
  <title>
    
      Mapping Texts

  </title>

  <meta name="generator" content="Hugo 0.127.0"><meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" />
  <meta name="author" content="Mapping Texts" />
  <meta
    name="description"
    content=""
  />
  
  
    
    
    <link
      rel="stylesheet"
      href="/scss/main.min.64813cc6f17d8e359655629b4eb56f000e08c7b602d80e32e1ef6bd502d6dc14.css"
      integrity="sha256-ZIE8xvF9jjWWVWKbTrVvAA4Ix7YC2A4y4e9r1QLW3BQ="
      crossorigin="anonymous"
      type="text/css"
    />
  

  
  <link
    rel="stylesheet"
    href="/css/markupHighlight.min.73ccfdf28df555e11009c13c20ced067af3cb021504cba43644c705930428b00.css"
    integrity="sha256-c8z98o31VeEQCcE8IM7QZ688sCFQTLpDZExwWTBCiwA="
    crossorigin="anonymous"
    type="text/css"
  />
  
  
  <link
    rel="stylesheet"
    href="/fontawesome/css/fontawesome.min.7d272de35b410fb165377550cdf9c4d3a80fbbcc961e111914e4d5c0eaf5729f.css"
    integrity="sha256-fSct41tBD7FlN3VQzfnE06gPu8yWHhEZFOTVwOr1cp8="
    crossorigin="anonymous"
    type="text/css"
  />
  
  <link
    rel="stylesheet"
    href="/fontawesome/css/solid.min.55d8333481b07a08e07cf6f37319753a2b47e99f4c395394c5747b48b495aa9b.css"
    integrity="sha256-VdgzNIGwegjgfPbzcxl1OitH6Z9MOVOUxXR7SLSVqps="
    crossorigin="anonymous"
    type="text/css"
  />
  
  <link
    rel="stylesheet"
    href="/fontawesome/css/regular.min.a7448d02590b43449364b6b5922ed9af5410abb4de4238412a830316dedb850b.css"
    integrity="sha256-p0SNAlkLQ0STZLa1ki7Zr1QQq7TeQjhBKoMDFt7bhQs="
    crossorigin="anonymous"
    type="text/css"
  />
  
  <link
    rel="stylesheet"
    href="/fontawesome/css/brands.min.9ed75a5d670c953fe4df935937674b4646f92674367e9e66eb995bb04e821647.css"
    integrity="sha256-ntdaXWcMlT/k35NZN2dLRkb5JnQ2fp5m65lbsE6CFkc="
    crossorigin="anonymous"
    type="text/css"
  />
  
  <link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />

  <link rel="canonical" href="https://culturalcartography.gitlab.io/" />

  
  <link rel="alternate" type="application/rss+xml" href="/index.xml" title="Mapping Texts" />
  
  
  
  <script
    type="text/javascript"
    src="/js/anatole-header.min.f9132794301a01ff16550ed66763482bd848f62243d278f5e550229a158bfd32.js"
    integrity="sha256-&#43;RMnlDAaAf8WVQ7WZ2NIK9hI9iJD0nj15VAimhWL/TI="
    crossorigin="anonymous"
  ></script>

  <script
  async
  defer
  data-domain="culturalcartography.gitlab.io"
  src="https://plausible.tail2fe3a.ts.net/js/script.js"
></script>


  

  


  
  
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://culturalcartography.gitlab.io/images/mapping_texts_stoltz_taylor_front_cover_1302x1419.png">
  <meta name="twitter:title" content="Mapping Texts">
  <meta name="twitter:description" content="Mapping Texts is the first introduction to computational text analysis that simultaneously blends conceptual treatments with practical, hands-on examples that walk the reader through how to conduct text analysis projects with real data and code.">



  
  <meta property="og:url" content="https://culturalcartography.gitlab.io/">
  <meta property="og:site_name" content="Mapping Texts">
  <meta property="og:title" content="Mapping Texts">
  <meta property="og:description" content="Mapping Texts is the first introduction to computational text analysis that simultaneously blends conceptual treatments with practical, hands-on examples that walk the reader through how to conduct text analysis projects with real data and code.">
  <meta property="og:locale" content="en">
  <meta property="og:type" content="website">
    <meta property="og:image" content="https://culturalcartography.gitlab.io/images/mapping_texts_stoltz_taylor_front_cover_1302x1419.png">



  
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Mapping Texts",
      "url": "https:\/\/culturalcartography.gitlab.io\/",
      "description": "",
      "thumbnailUrl": "https:\/\/culturalcartography.gitlab.io\/",
      "license": "2020-{{ YEAR }}"
    }
  </script>


</head>
<body class="body">
    <div class="wrapper">
      <aside
        
          class="wrapper__sidebar"
        
      ><div
  class="sidebar
    animated fadeInDown
  "
>
  <div class="sidebar__content">
    <div class="sidebar__introduction">
      <img
        class="sidebar__introduction-profileimage"
        src="/images/mapping_texts_stoltz_taylor_front_cover_1302x1419.png"
        alt="profile picture"
      />
      
        <h1 class="sidebar__introduction-title">
          <a href="/">Mapping Texts</a>
        </h1>
      
      <div class="sidebar__introduction-description">
        <p></p>
      </div>
    </div>
    <ul class="sidebar__list">
      
        <li class="sidebar__list-item">
          <a
            href="https://gitlab.com/culturalcartography"
            target="_blank"
            rel="noopener me"
            aria-label="GitLab"
            title="GitLab"
          >
            <i class="fab fa-gitlab fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      
        <li class="sidebar__list-item">
          <a
            href="mailto:maintainers@textmapping.com"
            target="_blank"
            rel="noopener me"
            aria-label="e-mail"
            title="e-mail"
          >
            <i class="fas fa-envelope fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      
    </ul>
  </div><footer class="footer footer__sidebar">
  <ul class="footer__list">
    <li class="footer__item">
      &copy;
      
        2020-2024
      
    </li>
    
      <li class="footer__item">
        <a
          class="link"
          href="/imprint/"
          
          title=""
        >
          imprint
        </a>
      </li>
    
  </ul>
</footer>
  
  <script
    type="text/javascript"
    src="/js/medium-zoom.min.1248fa75275e5ef0cbef27e8c1e27dc507c445ae3a2c7d2ed0be0809555dac64.js"
    integrity="sha256-Ekj6dSdeXvDL7yfoweJ9xQfERa46LH0u0L4ICVVdrGQ="
    crossorigin="anonymous"
  ></script></div>
</aside>
      <main
        
          class="wrapper__main"
        
      >
        <header class="header"><div
  class="
    animated fadeInDown
  "
>
  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true" class="navbar-burger__line"></span>
    <span aria-hidden="true" class="navbar-burger__line"></span>
    <span aria-hidden="true" class="navbar-burger__line"></span>
  </a>
  <nav class="nav">
    <ul class="nav__list" id="navMenu">
      
      
        
        
          <li class="nav__list-item">
            
            <a
              
                class="nav__link--active"
              
              href="/"
              
              title=""
              >Home</a
            >
          </li>
        

      
        
        

          <li class="nav__list-item">
            <div class="optionswitch">
              <input class="optionswitch__picker" type="checkbox" id="1" hidden />

              
              
                

              
                

              
                

              
                

              


              <label class="optionswitch__label" for="1"
                >Resources <i class="fa fa-angle-down" aria-hidden="true"></i
              ></label>

              <div class="optionswitch__triangle"></div>
              <ul class="optionswitch__list">
                
                  <li class="optionswitch__list-item">
                    
                    <a
                      href="/syllabus/"
                      
                      title=""
                      >Syllabi</a
                    >
                  </li>
                
                  <li class="optionswitch__list-item">
                    
                    <a
                      href="https://global.oup.com/academic/bookrequest/?isbn=9780197756881&amp;pubtitle=Mapping%20Texts&amp;author=Dustin%20S.%20Stoltz%20and%20Marshall%20A.%20Taylor&amp;lang=en&amp;cc=us"
                      
                        target="_blank" rel="noopener noreferrer"
                      
                      title=""
                      >Exam Copy</a
                    >
                  </li>
                
                  <li class="optionswitch__list-item">
                    
                    <a
                      href="https://gitlab.com/culturalcartography/mappingtexts/text2map.bookcode"
                      
                        target="_blank" rel="noopener noreferrer"
                      
                      title=""
                      >Code</a
                    >
                  </li>
                
                  <li class="optionswitch__list-item">
                    
                    <a
                      href="/fixes/"
                      
                      title=""
                      >Fixes</a
                    >
                  </li>
                
              </ul>
            </div>
          </li>
        

      
        
        
          <li class="nav__list-item">
            
            <a
              
              href="/feedback/"
              
              title=""
              >Feedback</a
            >
          </li>
        

      
    </ul>
    <ul class="nav__list nav__list--end">
      
      
    </ul>
  </nav>
</div>
</header>
  <div
    class="post 
      animated fadeInDown
    "
  >
    <div class="post__content">
      <p><cite>Mapping Texts</cite> is the first introduction to computational text analysis that simultaneously blends conceptual treatments with practical, hands-on examples that walk the reader through how to conduct text analysis projects with real data and code. The book shows how to conduct text analysis in the R statistical computing environment &ndash; a popular programming language in data science.</p>
<hr></hr>
<h2 style="text-align:center; margin-bottom:0;">ORDER</h2>
<p style = "text-align: center;">
<a href="https://global.oup.com/academic/product/mapping-texts-9780197756881?cc=us&lang=en&#"><button class="button button1">Oxford</button></a><a href="https://www.powells.com/book/mapping-texts-9780197756881"><button class="button button1">Powell's</button></a><a href="https://bookshop.org/p/books/mapping-texts-taylor/20115795?ean=9780197756881"><button class="button button1">Bookshop.org</button></a><a href="https://www.thriftbooks.com/w/mapping-texts_taylor/38852375/item/#edition=66760421&idiq=57084296"><button class="button button1">Thriftbooks</button></a><a href="https://www.barnesandnoble.com/w/mapping-texts-dustin-s-stoltz/1144107819;jsessionid=8907E01FF483C494E93B8A7602C5DB96.prodny_store02-atgap14?ean=9780197756881"><button class="button button1">Barnes & Noble</button></a><a href="https://www.amazon.com/Mapping-Texts-Computational-Analysis-Sciences/dp/0197756883"><button class="button button1">Amazon</button></a> 
<div class="slideshow-container">
<h2 style="text-align:center; margin-bottom:0;">ADVANCE PRAISE</h2>
<!-- Slideshow container -->
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
  <figure class="quote">
    <img src="images/bw-headshot-john-levi-martin.png" align="right" valign="middle" vspace="10" hspace="10" style="width:25%"/>
    <blockquote>
      <span style="float:left; top:-15px; font-size: 50px; display:inline-block; position:relative;">&#8220;</span>
      Stoltz and Taylor have managed to create a work that confidently takes even a beginner to a position of sophistication and technical virtuosity, leading to not only a practical mastery of cutting edge techniques, nor just that plus a clear understanding of the mathematical bases, but also gives the reader an intuitive feel for the larger social contexts that produce the text data analyzed... and all this without dropping a single equation in the reader's lap!  A true gem.
      </blockquote>
      <figcaption>  &mdash; <strong>John Levi Martin</strong>, Florence Borchert Bartling Professor of Sociology at The University of Chicago and author of <i>Thinking Through Methods</i></figcaption>
    </figure>
  </div>
  <div class="mySlides fade">
    <figure class="quote">
    <img src="images/bw-headshot-laura-nelson.png" align="right" valign="middle" vspace="10" hspace="10" style="width:25%"/>
    <blockquote>
    <span style="float:left; top:-15px; font-size: 50px; display:inline-block; position:relative;">&#8220;</span>
    <i>Language is pragmatic, language is habitual, language is relational.</i> I have been waiting for a book like this. One that seamlessly integrates philosophy and theory with tools and reproducible examples, and does so in a deeply sociological way. If you read this book, if you teach with this book, you and your students will have everything needed to successfully do computational text analysis in the social sciences. An extraordinary contribution.
    </blockquote>
    <figcaption>  &mdash; <strong>Laura K. Nelson</strong>, Assistant Professor of Sociology at The University of British Columbia</figcaption>
    </figure>
  </div>
  <div class="mySlides fade">
    <figure class="quote">
    <img src="images/bw-headshot-matt-salganik.png" align="right" valign="middle" vspace="10" hspace="10" style="width:25%"/>
    <blockquote>
    <span style="float:left; top:-15px; font-size: 50px; display:inline-block; position:relative;">&#8220;</span>
    Packed with interesting examples, <i>Mapping Texts</i> reveals the exciting possibilities of computational text analysis for social science.  It’s one of those rare books that offers useful advice about both what to do and how to do it. I think many readers will love Stoltz and Taylor’s decision to use no equations and illustrate key ideas with code in R. <i>Mapping Text</i> will be helpful to anyone hoping to learn more about this dynamic and important area of research.
    </blockquote>
    <figcaption>  &mdash;  <strong>Matthew J. Salganik</strong>, Professor of Sociology at Princeton University and author of <i>Bit by Bit: Social Research in the Digital Age</i></figcaption>
    </figure>
  </div>
  <div class="mySlides fade">
    <figure class="quote">
    <img src="images/bw-headshot-carly-knight.png" align="right" valign="middle" vspace="10" hspace="10" style="width:25%"/>
    <blockquote>
    <span style="float:left; top:-15px; font-size: 50px; display:inline-block; position:relative;">&#8220;</span>
    This book could not be more welcome. Authored by two of the leading sociological researchers in the field of text analysis, it offers a comprehensive guide to state-of-the-art text analysis methods. But beyond just an introduction to methods, it provides a thoughtful and theoretically informed engagement about how we should think about, and interpret, the wealth of textual data that is now available. This is essential reading for anyone with an interest in computational social science.
    </blockquote>
    <figcaption>  &mdash; <strong>Carly Knight</strong>, Assistant Professor of Sociology at New York University</figcaption>
    </figure>
  </div>
  <div class="mySlides fade">
    <figure class="quote">
    <img src="images/bw-headshot-kieran-healy.png" align="right" valign="middle" vspace="10" hspace="10" style="width:25%"/>
    <blockquote>
    <span style="float:left; top:-15px; font-size: 50px; display:inline-block; position:relative;">&#8220;</span>
    This book is an excellent entry-point to modern ideas and tools for the quantitative analysis of textual data. Well-organized, approachable, and pragmatic, the book does a terrific job of showing why researchers find the ideas so interesting while also teaching the reader how to use the tools for themselves.
    </blockquote>
    <figcaption> &mdash;  <strong>Kieran Healy</strong>, Professor of Sociology at Duke University and author of <i>Data Visualization: A Practical Introduction</i></figcaption>
    </figure>
  </div>
  <div class="mySlides fade">
    <figure class="quote">
    <img src="images/bw-headshot-anjali-m-bhatt.png" align="right" valign="middle" vspace="10" hspace="10" style="width:25%"/>
    <blockquote>
    <span style="float:left; top:-15px; font-size: 50px; display:inline-block; position:relative;">&#8220;</span>
    <i>Mapping Texts</i> provides a timely and accessible foray into the evolving domain of computational text analysis, enriched with fascinating examples and cutting-edge techniques. The book is perfectly tailored for newcomers to text-based methods. Guiding readers through computational techniques without the complications of equations, the authors equip you with everything, including all the essential R code, to dive directly into text analysis. Moreover, the authors’ approach is grounded in a philosophy of language and text that harmonizes the positivist and interpretive traditions, making the book an excellent fit for an especially wide range of social science and humanities scholars and students.
    </blockquote>
    <figcaption> &mdash; <strong>Anjali M. Bhatt</strong>, Assistant Professor of Business Administration at Harvard Business School</figcaption>
    </figure>
  </div>
  <div class="mySlides fade">
    <figure class="quote">
    <img src="images/bw-headshot-juan-pablo-pardo-guerra.png" align="right" valign="middle" vspace="10" hspace="10" style="width:25%"/>
    <blockquote>
    <span style="float:left; top:-15px; font-size: 50px; display:inline-block; position:relative;">&#8220;</span>
    Stoltz and Taylor's book is easily one of the clearest and most comprehensive introductions to computational text analysis written to date. With impressive dexterity, they take readers through the principles and workflows that are necessary for studying texts with computational techniques, never forgetting that words are complex and multifaceted cultural objects. In its style, organization, and pedagogical approach, this book is nothing short of an exceptional achievement.
    </blockquote>
    <figcaption> &mdash; <strong>Juan Pablo Pardo-Guerra</strong>, Associate Professor of Sociology at the University of California, San Diego, and co-editor of <i>The Oxford Handbook of the Sociology of Machine Learning</i></figcaption>
    </figure>
  </div>
</div>
<br>
<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
</div>
<hr></hr>
<h2 style="text-align:center; margin-bottom:0;">SUPPORTING R PACKAGES</h2>
<p></p>
<div class="container">
<a href='https://culturalcartography.gitlab.io/text2map/' target='_blank' title='A collection of general functions for text analysis'><img src='images/text2map_logo.png' onmouseover='this.src="images/text2map_logo_hover.png"' onmouseout='this.src="images/text2map_logo.png"' alt='text2map' width='128' height='128'></a><a href='https://culturalcartography.gitlab.io/text2map.corpora/' target='_blank'  title="A collection of corpora for text analysis"><img src='images/text2map_corpora_logo.png' onmouseover='this.src="images/text2map_corpora_logo_hover.png"' onmouseout='this.src="images/text2map_corpora_logo.png"' alt='text2map.corpora' width='128' height='128'></a><a href='https://culturalcartography.gitlab.io/text2map.dictionaries/' target='_blank'  title="A collection of English-language dictionaries for text analysis"><img src='images/text2map_dictionaries_logo.png' onmouseover='this.src="images/text2map_dictionaries_logo_hover.png"' onmouseout='this.src="images/text2map_dictionaries_logo.png"' alt='text2map.dictionaries' width='128' height='128'></a><a href='https://culturalcartography.gitlab.io/text2map.pretrained/' target='_blank'  title="Load and download a pretrained text analysis models"><img src='images/text2map_pretrained_logo.png' onmouseover='this.src="images/text2map_pretrained_logo_hover.png"' onmouseout='this.src="images/text2map_pretrained_logo.png"' alt='text2map.pretrained' width='128' height='128'></a><a href='https://culturalcartography.gitlab.io/text2map.theme/' target='_blank'  title="A custom ggplot2 theme"><img src='images/text2map_theme_logo.png' onmouseover='this.src="images/text2map_theme_logo_hover.png"' onmouseout='this.src="images/text2map_theme_logo.png"' alt='text2map.theme' width='128' height='128'></a>
</div>
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
var $d = $(".mySlides"), 
    tallestDivHeight = 0
    $d.each(function (i, v) {
        var $t = $(this), 
            thisDivsHeight = $t.outerHeight()

        console.log(thisDivsHeight)

        if(thisDivsHeight > tallestDivHeight) tallestDivHeight = thisDivsHeight
    })
$d.css("height", tallestDivHeight)
</script>
<script type="text/javascript">

  var slideIndex = 0;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  var myTimer;

showSlides();

function showSlides() {    
    var i;    
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}
    dots[slideIndex-1].className += " active";
    slides[slideIndex-1].style.display = "block";
    myTimer = setTimeout(showSlides, 10000); // Change image every 5 seconds
}

function currentSlide(no) {
    var i;    
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slideIndex = no;
    slides[no-1].style.display = "block";
    dots[no-1].className += " active";
    clearTimeout(myTimer);
    myTimer = setTimeout(showSlides, 5000);
}

function plusSlides(n) {
  var newslideIndex = slideIndex + n;
  if(newslideIndex < 4 && newslideIndex > 0){
     currentSlide(newslideIndex);
  }
}
</script>
<!-- <script type="text/javascript">
  let slideIndex = 1;
  // const interval = 3000; // duration(speed) of the slide
  showSlides(slideIndex);
  setTimeout(showSlides(slideIndex = n + 1), 3000);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script> -->
<!-- <script type="text/javascript">
  let slideIndex = 0;
  showSlides();

  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    slides[slideIndex-1].style.display = "block";
    setTimeout(showSlides, 10000); // Change image every 5 seconds
  }
</script> -->
<!-- <script type="text/javascript">

  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  var currentImg = 0; // index of the first image 
  const interval = 3000; // duration(speed) of the slide
    </div>

    
  </div>

  

  
  
  <div class="pagination">
    

  </div>

      </main>
    </div><footer class="footer footer__base">
  <ul class="footer__list">
    <li class="footer__item">
      &copy;
      
        2020-2024
      
    </li>
    
      <li class="footer__item">
        <a
          class="link"
          href="/imprint/"
          
          title=""
        >
          imprint
        </a>
      </li>
    
  </ul>
</footer>
  
  <script
    type="text/javascript"
    src="/js/medium-zoom.min.1248fa75275e5ef0cbef27e8c1e27dc507c445ae3a2c7d2ed0be0809555dac64.js"
    integrity="sha256-Ekj6dSdeXvDL7yfoweJ9xQfERa46LH0u0L4ICVVdrGQ="
    crossorigin="anonymous"
  ></script></body>
</html>
